body{
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
}

/* header */
.header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
    background:grey;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 1rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1)


} 
#logo{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
#navigationbar a{
    font-size: 20px;
    color:red;
    margin: 0 1rem;
}

#navigationbar a:hover{
    color:blue;
}

#logo{
    font-size: 20px;
    font-weight: bold;
    color: black;
}





/* home section */
#main{
    display: block;

}
.page{
    display:flex;
    flex-flow: row wrap;
    align-content: stretch;
    min-height: 60vh;
    margin-top: 200px;

}

.homepage{
    
    flex: 50%;
    text-align: center;
    
    
}
#homeimage{
    flex:50%;
    text-align: center;
}

#homeh3{
    font-size: 30px;
    color:greenyellow
}

#homebtn{
    display: inline-block;
    padding: 10px 20px;
    color:white;
    font-size: 20px;
    background:red;
    border-radius: 30px;
    width: 30%;
    
    max-width: 1200px;
    padding: 10px
}
#paragraph{
    font-size: 50px;
    font-style:italic;
    font-weight:bold;
    color:white;
    
} 


/* about section */

.about{
    display:flex; 
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.7rem;
    align-items: center;
    /* min-height: 50vh; */
    color:white;
}
#abouth2{
    font-size: 25px;
    color:greenyellow;
    text-align: center
}
#aboutparagraph{
    font-size: 20px;
    line-height: 30px;
    padding: 20px;
    font-style: italic;
    font-family: "open sans",;
}
#abouth3{
    font-size: 25px;
    text-decoration: underline;
    font-style: bold;
    text-align: center;
   
} 






/* search result section */

.recipedetails{
    display: block;
}
#searchcolor{
    background: silver;
    text-align: center;
}
#meal-recipes{
    display:flex;
    overflow:hidden;
    flex-wrap: wrap;
  align-content: flex-start;
  overflow: scroll;
  margin-left:auto;
  
   
}
.mealItem{
    display: inline;
    float: right;
    width: 300px;
    background-color:white;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color:black;
    margin:10px;
    margin-left:auto;
}
.mealItem:hover{
    border-color: white;
}
#meal-img{
    width: 100%;
    height: 250px;
    border-radius:5px;
}

.btn{
    display: block;
    float: right;
    background-color:white;
    color:black;
    margin: 10px;
    padding: 5px;
    border:none;
    border-radius: 5px;
}
p{
    padding: 0px 10px ;
}
.ingredient-list{
    padding: 15px;
}
#likeBtn{
    float:left;
    margin: 5px;
}
.h3instruction{
    display: none;

}
.ingredient-list{
    display: none;
}

#getRecipe{
    background-color: yellowgreen;
    color: black
}

#form1{
    text-align: center;
    padding-top: 30px;

}
.formdetails{
    text-align: center;
}

/* contact section */

*{
    margin:0;
    padding: 0;
}
.contact-section{
    background: grey;
    background-size: cover;

    padding: 40px 0

}
.contact-section h2{
    text-align: center;
    color: black;
    font-size: 25px;
}
.border{
    width:100px;
    height:10px;
    background:black;
    margin:40px auto;
}
.contact-form{
    max-width:600px;
    margin:auto;
    padding: 0 10px;
    overflow:hidden;
}
.contact-form-text{
    display:block;
    width:100%;
    box-sizing: border-box;
    margin:16px 0;
    border:0;
    background: black;
    padding: 20px 40px;
    outline: none;
    color:white;
    transition: 0.5s;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px greenyellow;
}
textarea.contact-form-text{
    resize:none;
    height:120px;
    
}
.contact-form-btn{
    float:right;
    border: 0;
    background: black;
    color:greenyellow;
    padding: 12px 50px;
    border-radius:20px;
    cursor:pointer;
    transition: 0.5s;


}
.contact-form-btn:hover{
    background: silver;
}

/* search input */
#recipeSearch{
    width: 350px;
    height: 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px
}
/* heading  results*/
#search-recipe{
    text-align: center;
    font-size: 25px;
    color:black;
    margin-bottom: 0px;}


#searchcolor{
    background-color: grey;
    margin-top: 30px;

}

/* search button */
#searchInput{
    width: 150px;
    height: 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: black;
    color: greenyellow
}















